body {
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
  
}

.header, .footer{

    background-color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    margin-top: 20px;
}

.copyright{
    text-align: center;
    margin-top: 10px;
}
h1{
    color:white;
    font-size: 1.5rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header img{
    height:auto;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 0px;
  
    margin-right:10px;
}
hr{
    margin-top: -10px;
}
h2{
    font-size: 1rem;
}
#datemodified{
text-align: center;
margin-top: -10px;
}
